parameters:
	ignoreErrors:
		-
			message: "#^Property Mangoweb\\\\Authorization\\\\Bridges\\\\NetteDI\\\\AuthorizationExtension\\:\\:\\$defaults has no typehint specified\\.$#"
			count: 1
			path: src/Bridges/NetteDI/AuthorizationExtension.php

		-
			message:
				"""
					#^Call to deprecated method validateConfig\\(\\) of class Nette\\\\DI\\\\CompilerExtension\\:
					use getConfigSchema\\(\\)$#
				"""
			count: 1
			path: src/Bridges/NetteDI/AuthorizationExtension.php

